html {
  overflow: auto;
}
body {
  margin: 0;
  min-height: 100vh;
}

div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

.card-images {
  width: 300px;
  height: 250px;
  object-fit: fill;

  border-radius: 5%;
  border: 3px solid #1c3c70;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3378e6;
}

li {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

button {
  height: 25px;
  width: 100px;
  background-color: #1c3c70;
  color: white;
  border: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px rgb(0,0,0);
}

.sign-up:hover {
  background-color: #122748;
}
  
.sign-up:active {
  background-color: #122748;
  border-color: #eee;
  box-shadow: 0 5px rgb(0,0,0);
  transform: translateY(2px);
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
}

.logo {
  font-size: 24px;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 0px 25px;

  /* Positioning below this */
  display: flex;
  flex-direction: column;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.lower-header-left {
  width: 400px;
  height: 490px;
  margin: 0px;

  /* Positioning below this */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.lower-header-right {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}

.hero-sub-para {
  font-size: 18px;
  color: #E5E7EB;
}

/* Cards Section */
.information-header {
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 0;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

/* Testimonial Section */
.testimonial {
  background-color: #E5E7EB;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-para {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  width: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-para-author {
  font-weight: bold;
  margin-left: 400px;
  margin-top: -50px;
}

/* Call-to-Action section */
.call-to-action-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.call-to-action {
  padding: 20px;
  margin: 25px;
  color: white;
  background-color: #1f2937;
  width: 1000px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.action-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;

  display: flex;
  align-items: flex-end;
}

.action-subsection {
  font-size: small;
  margin-top: 0px;
  margin-bottom: 30px;

  display: flex;
  align-items: flex-start;
}

/* Footer section */
.footer {
  height: 50px;
  background-color: #1f2937;
  color: white;
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}